<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fyp.your.language.friend"
    android:versionCode="16"
    android:versionName="1.1.6" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/logostart"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.fyp.your.language.friend.StartActivity"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fyp.your.language.friend.Input.VocabularyInputActivity"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.fyp.your.language.friend.Input.SearchActivity"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.fyp.your.language.friend.Library.LibraryActivity"
            android:screenOrientation="landscape"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.fyp.your.language.friend.Flashcard.FlashcardActivity"
            android:label="@string/title_activity_flashcard"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.fyp.your.language.friend.Pairs.PairsActivity"
            android:label="@string/title_activity_pairs"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.fyp.your.language.friend.Scramble.ScrambleActivity"
            android:label="@string/title_activity_scramble"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.fyp.your.language.friend.Tests.VocabTestActivity"
            android:label="@string/title_activity_vocab_test"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.fyp.your.language.friend.ChooseTestActivity"
            android:label="@string/title_activity_choose_test"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.fyp.your.language.friend.TestResultsActivity"
            android:label="@string/title_activity_test_results"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.fyp.your.language.friend.ProgressActivity"
            android:label="@string/title_activity_progress"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.fyp.your.language.friend.HomeActivity"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow"
            android:label="@string/title_activity_start" >
        </activity>
    </application>

</manifest>